
.master-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  gap: 60px;
}

.add-item-form {
  width: 25%;  
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
}

.add-item-form h2 {
  margin-bottom: 10px;
}

.add-item-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.add-item-form input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-item-form button {
  width: 100%;
  padding: 10px;
  background-color: #1DA3A3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-item-form button:hover {
  background-color: #1DA3A3;
}


.item-list {
  width: 30%;  
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
}

.item-list-supplier {
  width: 60%;
}

.item-list h2 {
  margin-bottom: 10px;
}

.item-list table {
  width: 100%;
  border-collapse: collapse;
}

.item-list th, .item-list td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.item-list th {
  background: #1DA3A3;
  color: white;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 24px;
  width: 420px;
  border-radius: 8px;
}
