 .bullion-container {
  padding: 20px;
}

.input-row {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  flex-wrap: wrap;
}

.given-entry {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 4px;
  align-items: center;
}

.given-entry .MuiTypography-root {
  font-size: 0.95rem;
}

.given-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 12px;
  gap: 12px;
}

.MuiDialogContent-root .MuiTextField-root .MuiInputBase-input {
  font-size: 0.9rem;
  padding: 10px 8px;
}

.MuiDialogContent-root .input-row .MuiTextField-root,
.MuiDialogContent-root .given-input .MuiTextField-root {
  flex-grow: 1;
  min-width: 150px;
}

.bullion-container table td {
  /* vertical-align: top; */
}

.bullion-container .MuiTableHead-root th {
  white-space: nowrap;
}

.bullion-container .MuiTableCell-root {
  padding: 8px 16px;
}